<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (locals.users) { %>
    <table>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <th>Name: <%= user.fname + ' ' + user.lname %></th>
          <td>Email: <%= user.email %></td>
          <td>Age: <%= user.age %></td>
          <td>Bio: <%= user.bio %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
    <a href="/user/create">Create a user</a>
  </body>
</html>
